<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Recipe Name</h3>
    </div>
    <div class="col-xs-12">
        <div ngbDropdown> 
            <button class="btn btn-warning" id="gfg"
                    ngbDropdownToggle>Click Here!</button> 
            <div ngbDropdownMenu="gfg"> 
            <button ngbDropdownItem>GeeksforGeeks</button> 
            <button ngbDropdownItem>Angular10</button> 
            <button ngbDropdownItem>ng bootstrap</button> 
            </div> 
        </div> 
    </div>
</div>